body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right bottom, lightgreen, lightyellow);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.3);
}

.group-input {
  display: flex;
  align-items: center;
}
