@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
@import url("https://nguyencodervn.github.io/asset/color.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    to right bottom,
    lightgreen,
    lightyellow
  );
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

#root,
#__next {
  isolation: isolate;
}

button {
  padding: 0.8em 2em;
  border: none;
  border-radius: 8px;
  background-color: #3498db;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    filter: brightness(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  }

  &:active {
    filter: brightness(0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;

  background: var(--surface);
  color: var(--text);

  padding: 1.5em;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  text-align: center;

  & label {
    align-self: flex-start;
  }
}

.input {
  width: 100%;
  padding: 0.8em;
  border: 1px solid #cccccc;
  border-radius: 8px;

  &:focus {
    outline: none;
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
  }
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.h-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.v-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
